
html,body {

    margin: 0;

    min-height: 100vh;

    font-size: 1rem;

    font-family: Arial, Helvetica, sans-serif;

    display: grid;

}

/* ------------------------------------------------------------------------------------- */
/* SFD BOOK Body  
/* ------------------------------------------------------------------------------------- */

#sfd-book-body {

    /* we like to grow from max parent body 100vh */
    min-height: 100vh;
    width: 100%;

    /* layout */
    display: grid;
    
    /* align-items: flex-start;
    align-content: flex-start; */
    justify-content: flex-start;

    grid: auto 1fr / 1fr;

    background-color: pink;


}

/* ------------------------------------------------------------------------------------- */
/* Header 
/* ------------------------------------------------------------------------------------- */

#sfd-book-body > header {
    
    padding: 1.3em 1.3em;

    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;


    background-color: rgb(40, 40, 40);
}

/* ----------------------------------------- */
/* Title Header 
/* ----------------------------------------- */

#title-header {

   display: flex;
   flex-wrap: wrap;
   align-items: center;
   column-gap: 1em;
}

#title-header > img:nth-of-type(1) {

    height: 8em;
}

#title-header > div:nth-of-type(1) > div:nth-of-type(1) {

   display: grid;
   row-gap: .3em;

}

#title-header > div:nth-of-type(1) > div:nth-of-type(1) >  div:nth-of-type(1) {

    font-size: 1.25rem;
    font-weight: bold;

    color:white;
}

#title-header > div:nth-of-type(1) > div:nth-of-type(1) >  div:nth-of-type(2) {

    color:rgba(245, 222, 179, .6);
}

#title-header > div:nth-of-type(1) > div:nth-of-type(2) {

    padding-top: .5em;
    color:rgb(93, 93, 93);

}

/* ----------------------------------------- */
/* Date Header 
/* ----------------------------------------- */

#date-header {

   font-weight: bold;

   display: flex;
   column-gap: .3em;

   color:grey;
 
 }

 #date-header > div:nth-of-type(1) {

    display: flex;
 }



/* ------------------------------------------------------------------------------------- */
/* Main
/* ------------------------------------------------------------------------------------- */

#sfd-book-body > main {

    padding: 2em 1.3em;

    height: 100%;

    display: grid;
    align-items: flex-start;
    justify-items: center;
    row-gap: .3em;

  

    background-color: rgb(0, 200, 255);
}


.info-x {

    padding: .3em .8em;

    border-radius: .6em;

    line-height: 1.5em;

    background-color: rgb(223, 223, 223);
}


#main-layout {

    
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    column-gap: 1.3em;
    row-gap: 1.3em;


}